 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if site.noindex %}
    <meta name="robots" content="noindex">
    {% elsif page.noindex %}
    <meta name="robots" content="noindex">
    {% endif %}

    <title>{{page.title | default: site.title | escape }}</title>
    <meta name="author" content="{{site.author.name | default: site.title | escape}}">
    <meta name="description" content="{{ page.description | default: site.description | escape }}">

    <link rel="canonical" href="{{ page.url | absolute_url }}" />

    {% if page.schema == "person" %}
        {% include schema-person.html %}
    {% elsif page.schema == "webpage" %}
        {% include schema-webpage.html %}
    {% elsif page.schema == "article" %}
        {% include schema-article.html %}
    {% elsif page.schema == "webapp" %}
        {% include schema-webapp.html %}
    {% endif %}

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:title" content="{{ page.title | default: site.title | escape }}">
    <meta property="og:description" content="{{ page.share-description | default: site.share-description | escape }}">
    <meta property="og:image" content="{{ page.share-img | default: site.image | absolute_url }}">


    <link rel="alternate" type="application/rss+xml" title="{{site.author.name}}" href="/feed.xml">

    <style>{% include /assets/css/bootstrap.min.css  %}</style>
    <style>{% include /assets/css/main.css  %}</style>

    {% if page.permalink == "/pool" %}

    <style>{% include pool/assets/css/pool.css %}</style>

    <link rel="apple-touch-icon" href="{{ site.url }}/assets/img/icon-512.png">
    <link rel="manifest" href="/manifest.json">

    <link rel="shortcut icon" href="/pool-favicon.ico" type="image/x-icon">
    <link rel="icon" href="/pool-favicon.ico" type="image/x-icon">

    {% else %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    {% endif %}

<!-- Preconnect to Google Domains -->
<link rel="preconnect" href="https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch&display=swap" crossorigin>

<!-- Asynchronous Loading Pattern -->
<link id="google-fonts" 
      href="https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch&display=swap" 
      rel="stylesheet" 
      media="print" 
      onload="this.media='all'">

<!-- Fallback for No-JS -->
<noscript>
  <link href="https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch&display=swap" rel="stylesheet">
</noscript>


</head>
