---
layout: base
---
<h1 class="heading">{{ page.title }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Heat SHU</th>
                <th scope="col">Germination</th>
                <th scope="col">Soil Temp</th>
                <th scope="col">Humidity</th>
                <th scope="col">Light</th>
            </tr>
        </thead>
        <tbody>
            {% for plant in site.plants %}
            <tr>
                <td><a href="{{ plant.url | relative_url }}">{{ plant.title }}</a></td>
                <td>{{ plant.scoville }}</td>
                <td>{{ plant.germination_days }} days</td>
                <td>{{ plant.soil_temp }}</td>
                <td>{{ plant.humidity }}</td>
                <td>{{ plant.light }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

